.container {
    padding: 16px;
    border-radius: 8px;
    color: var(--on-background, white); 
    transition: transform 0.2s ease;
    cursor: pointer;
    height: 5rem;
  }
  
  .container:hover {
    transform: scale(1.02);
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  